
.contain-contact{
    min-height: 100vh;
    margin-bottom: 5rem;
}
.text-contact{
color: rgb(255, 255, 255);
font-family: "BBaran",sans-serif;
text-align: center;
margin: 3rem 0;
}
.mytable{
    background-color: rgb(49, 179, 230) !important;
margin-top: 8rem;
direction: rtl;
font-family: "BBaran",sans-serif;
text-align: start;
font-size: 1.2rem;
color:rgb(255, 255, 255);
}

@media screen and (max-width: 480px) {
    .mytable{
        font-size: 1rem;
    }
}
