.footer{
    background-color:rgb(33, 34, 36) ;
    padding: 1rem 0rem;
}
.list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.telegram{
    font-size: 2.5rem;
    color: rgb(47, 181, 221);
}
.Whatsapp{
    font-size: 2.5rem;
    color: rgb(33, 216, 9);
}
.instagram{
    font-size: 2.5rem;
    color: rgb(206, 6, 116);
}
.github{
    font-size: 2.5rem;
    color: rgb(140, 19, 253);
}
.text-footer{
    color: white;
    text-align: center;
    font-family: "BBaran";
    font-size: 1rem;
}