.main-contain{
    height: 70vh;
}
@font-face{
    src: url(../../font/BBaran.woff) format(woff);
    font-family: 'BBaran';
    font-style: normal;
    font-weight: normal;
}


.spiner{
    color: #ffffff;
    text-align: center;
    margin: 3rem 0;
    font-size: 40px;
    
}
.spin-icon{
    animation: spin 1s infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
