.footer{
    background-color:rgb(33, 34, 36) ;
    padding: 1rem 0rem;
}
.list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.telegram{
    font-size: 2.5rem;
    color: rgb(47, 181, 221);
}
.youtube{
    font-size: 2.5rem;
    color: rgb(255, 19, 19);
}
.instagram{
    font-size: 2.5rem;
    color: rgb(206, 6, 116);
}
.facebook{
    font-size: 2.5rem;
    color: rgb(19, 55, 253);
}
.text-footer{
    color: white;
    text-align: center;
    font-family: "BBaran";
    font-size: 1rem;
}