.main-contain{
    height: 90vh;
}
.icon{
    font-size:7rem;
    color:rgb(232, 248, 12) !important;
}
.text{
    font-size:1.25rem;
    color: white;
    font-family: "BBaran",sans-serif;
}
.detail{
    border:1px solid rgb(13, 191, 204);
    border-radius: 0.5rem;
    background-color: rgb(141, 208, 247);

}
@font-face{
    src: url(../src/font/BBaran.woff) format(woff);
    font-family: 'BBaran';
    font-style: normal;
    font-weight: normal;
}
.result{
    height: 60vh;
}